nav{
    margin-left: 220px; 
    display: flex;
}
.articulos{
    margin: 0 200px;
    display: flex;
    margin-bottom: 50px;
}
.articulos img{
    width: 270px;
}
.pieDePagina{
    padding-top: 50px;
    margin: 0 200px;
    padding-bottom: 50px;
}
.pieDePagina img{
    margin-right: 5px;
    width: 25px;
}
.articulos article{
    margin-top: 40px;
    padding: 10px; 
}
footer{
    justify-content: center;
    padding-top: 30px;
    display: flex;
    text-align: center;
}
footer aside{
    padding: 20px;
}
.separador{
    margin-left: 35px;
}
i{
    margin-left: 10px;
}
nav a{
    padding: 10px;
    display: block;
    color: gray;
    text-decoration: none;
    border-radius: 30px;
}
footer a{
    color: dodgerblue;
    text-decoration: none;
}
div a{
    color: dodgerblue;
    text-decoration: none;
}
.select{
    color: white;
    background-color:green; 
}
